<%- include ("partials/header") %>


<!--  课程row -->


    <div class="row" style="margin-top:10%;">
        <% data[0].class.forEach(function(item){ %>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" name="classCode"> <%= item.unitcode %> </h5>
                        <p class="card-text"> 还没想好这里放什么 </p>
                        <a href="/userHomePage/<%= item.unitcode %>" class="btn btn-primary">Quiz</a>
                    </div>
                </div>
            </div>
        <% }) %>
        
        
        
    </div>



<%- include ("partials/footer") %>